
.navbar{height: 20pxx;}

.navbar{flex-direction:  row;}

.card_watch_history_main{
    color: rgb(0, 0, 0);
    background-color: #a66db4;
    border-radius: 25px;
    
}

.card_watch_history{
    color: rgb(0, 0, 0);
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 5px;
    height: 110px;
    width: 110px;
    border-radius: 25px;
}

* {
    box-sizing: border-box;
}

.navbar {
    background-color: #5C2465;
    height: 50%;
    margin-bottom: 1%;
    
}

body {
    background-image: url(img/background1.jpg);
    padding-top: auto;
    }

.Outter {
    color: black;
    margin: auto;
    padding: 60%;
    margin-top: 100%;
    }

.Inner {
    color: black;
    background-color: blueviolet;
    flex-direction: row;
    padding-top: 10%;
    padding-bottom: 10%;
    margin: auto;
}