* {
    box-sizing: border-box;
}

.navbar {
    background-color: #5C2465;
    height: 50%;
    margin-bottom: 1%;
    
}

body {
    background-image: url(img/background1.jpg);
    padding-top: auto;
    }

.Outter {
    color: black;
    margin: auto;
    padding: 60%;
    margin-top: 100%;
    }

.Inner {
    color: black;
    background-color: blueviolet;
    flex-direction: row;
    padding-top: 10%;
    padding-bottom: 10%;
    margin: auto;
}

